Source: lua-ngcp-kamailio
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8~),
               dh-lua (>= 16~)
Standards-Version: 3.9.7
Section: libs
Homepage: http://sipwise.com/

Package: lua-ngcp-kamailio
Section: libs
Architecture: any
Depends: lua-redis,
         lua-sql-mysql,
         ngcp-system-tools-ce | ngcp-system-tools,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: lua framework for ngcp-kamailio config
 This package provides the lua ngcp lib that ngcp-template-kamailio
 uses.

Package: lua-ngcp-kamailio-dev
Section: libs
Architecture: any
Depends: lua-lemock,
         lua-logging,
         lua-sql-mysql,
         lua-unit,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: lua framework for ngcp-kamailio config development tests
 This package provides the lua ngcp lib that ngcp-template-kamailio
 uses.
